body{
    background-color: rgb(24, 25, 25);
}
h1{
    color: rgb(12, 216, 12);
}
button{
    background-color: rgb(248, 241, 241);
    height: 35px;
    width: 35px;
    border-radius: 20%;
    color: darkorange;

}
#result{
    background-color: rgb(229, 234, 232);
    border-radius: 15%;
    height: 35px;
}